// src/styles/_header.scss

.kasa-header {
  background-color: $secondary-color;
  padding: 24px 0px 32px 0px;
  width: 85%; 
  margin: 0 auto;

  @include respond-to(tablet) {
    padding: 24px 0px 24px 0px;
    width: 92%;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .kasa-logo {
    height: 56px;

    @include respond-to(tablet) {
      height: 42px;
    }
  }

  .kasa-nav {
    ul {
      list-style: none;
      display: flex;
      gap: 48px;

      @include respond-to(tablet) {
        gap: 20px;
      }

    }

    li {
      a {
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 500;
        color: $third-color;

        &:hover {
          text-decoration: underline;
        }

        @include respond-to(tablet) {
          font-size: 1rem;
        }

      }
    }
    .active {
      text-decoration: underline;
    }
  }
}
