.carousel {
  position: relative;
  width: 100%;
  height: 416px;
  overflow: hidden;
  border-radius: 25px;

  @media (max-width: 880px) {
    height: 238px;
    border-radius: 10px;
  }

  // arrow fade-out animation
  @keyframes arrowBackgroundFade {
    0% {
      background: rgba(0, 0, 0, 0.1);
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
  }

  &__track {
    display: flex;
    transition: transform 0.5s ease;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    border-radius: 25px;
    font-size: 4rem;
    transition: background 0.3s ease;
    
    // Appy fade animation (on load)
    animation: arrowBackgroundFade 2s ease-in-out forwards;

    @media (max-width: 880px) {
      font-size: 1.1rem;
    }

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &__counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1rem;
    
    @media (max-width: 880px) {
      display: none;
    }
  }
}
