@import '../abstracts/variables'; 

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;

    .tag {
      background-color: $primary-color;
      color: $secondary-color;
      font-weight: 500;
      font-size: 1rem;
      padding: 5px 10px;
      border-radius: 10px;

      @media (max-width: 880px) {
        font-size: 0.9rem;
      }

    }
  }