// src/styles/_about.scss
.about {
    width: 85%;
    max-width: 1550px;
    margin: 0 auto;

    @media (max-width: 880px) {
        width: 92%;
      }

    &__collapse {
        width: 80%;
        margin: 0 auto;
        margin-top: 36px;
        margin-bottom: 36px;

        @media (max-width: 880px) {
            width: 100%;
        }

    }

}