.accomodation {
  width: 90%;
  margin: 0 auto;

  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 24px;
    margin-bottom: 24px;

    @media (max-width: 880px) {
      margin-top: 8px;
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @media (max-width: 880px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 8px;
    order: 2;

    @media (max-width: 880px) {
      order: 1;
    }
  }

  &__host {
    display: inline-flex;
    order: 1;

    @media (max-width: 880px) {
      order: 2;
    }
  }

  &__collapses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8%;

    @media (max-width: 880px) {
      display: flex;
      flex-direction: column;
    }

  }

  &__collapses h3 {
    font-size: 1.1rem;

    @media (max-width: 880px) {
      font-size: 1rem;
    }
  }

  .accom-title h1 {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: $primary-color;

    @media (max-width: 880px) {
      font-size: 1.2rem;
    }
  }

  .accom-title p {
    font-weight: 600;
  }

  .star {
    font-size: 1.3rem;
    color: lightgray;
    margin-right: 8px;

    @media (max-width: 880px) {
      font-size: 1rem;
    }

  }

  .star.filled {
    color: $primary-color;
  }

}
