// src/styles/_home.scss

.home {
    text-align: center;
    width: 85%;
    max-width: 1550px;
    margin: 0 auto;

    @media (max-width: 880px) {
      width: 92%;
    }

    h1 {
      color: $primary-color;
      font-size: 3rem;
    }
  }
  