.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

  &__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30%;
      background: linear-gradient(180deg, $primary-color 0%, rgba(0, 0, 0, 0.50) 100%);

  }

  &__title {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 1.1rem;
    z-index: 1;
    font-weight: bold;
    text-align: left;
}

&::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 0;
}
}
