@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  line-height: 1.6;
}

.kasa-header {
  background-color: #ffffff;
  padding: 24px 0px 32px 0px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 880px) {
  .kasa-header {
    padding: 24px 0px 24px 0px;
  }
}
.kasa-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kasa-header .kasa-logo {
  height: 56px;
}
@media (max-width: 880px) {
  .kasa-header .kasa-logo {
    height: 32px;
  }
}
.kasa-header .kasa-nav ul {
  list-style: none;
  display: flex;
  gap: 48px;
}
@media (max-width: 880px) {
  .kasa-header .kasa-nav ul {
    gap: 20px;
  }
}
.kasa-header .kasa-nav li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: #000000;
}
.kasa-header .kasa-nav li a:hover {
  text-decoration: underline;
}
@media (max-width: 880px) {
  .kasa-header .kasa-nav li a {
    font-size: 1rem;
  }
}
.kasa-header .kasa-nav .active {
  text-decoration: underline;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
.footer__logo {
  height: 36px;
  width: auto;
  margin: 40px 0px 16px 0px;
}
.footer__text {
  font-size: 1.1rem;
}

.home {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.home h1 {
  color: #ff6060;
  font-size: 3rem;
}

.about {
  width: 90%;
  margin: 0 auto;
}
.about__collapse {
  width: 80%;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 36px;
}
@media (max-width: 880px) {
  .about__collapse {
    width: 100%;
  }
}

.accomodation__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accomodation__collapses {
  margin-top: 30px;
}
.accomodation .carousel img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.accomodation .accom-title h1 {
  font-size: 2rem;
  color: #ff6060;
}
.accomodation .tags .tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.accomodation .rating .star {
  font-size: 1.5rem;
  color: lightgray;
}
.accomodation .rating .star.filled {
  color: #ff6060;
}
.accomodation .host {
  display: flex;
  align-items: center;
}
.accomodation .host__picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.banner {
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
@media (max-width: 880px) {
  .banner {
    height: 110px;
    box-shadow: none;
    margin-bottom: 24px;
    border-radius: 10px;
  }
}
.banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.4);
}
.banner__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 700;
  z-index: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 880px) {
  .banner__txt {
    font-size: 1.2rem;
    text-align: left;
    left: 36%;
  }
}

.gallery {
  background-color: #F6F6F6;
  border-radius: 25px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 50px;
  padding: 50px;
  margin-bottom: 50px;
}
@media (max-width: 880px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 20px;
    margin-bottom: 32px;
    background-color: #ffffff;
    padding: 0px;
  }
}
.gallery__container {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 880px) {
  .gallery__container {
    aspect-ratio: 16/10;
    height: auto;
  }
}
.gallery__container--link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(180deg, #ff6060 0%, rgba(0, 0, 0, 0.5) 100%);
}
.card__title {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-size: 1.1rem;
  z-index: 1;
  font-weight: bold;
  text-align: left;
}
.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 0;
}

.collapse {
  margin-bottom: 24px;
  border-radius: 5px;
  overflow: hidden;
}
.collapse__header {
  background-color: #ff6060;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
}
.collapse__icon {
  font-size: 1.5rem;
  transition: transform 0.3s;
}
.collapse__content {
  background-color: #f8f8f8;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  overflow: hidden;
  max-height: 0; /* for css animation */
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 10px; /* reduced initial padding */
}
.collapse__content.open {
  max-height: 500px; /* bigger than content for css animation purposes */
  padding: 10px; /* back to full padding when opened */
}
.collapse__icon.open {
  transform: rotate(180deg);
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error__title {
  margin-top: 0px;
  font-size: 10rem;
  color: #ff6060;
}
@media (max-width: 880px) {
  .error__title {
    font-size: 6rem;
    margin-top: 48px;
  }
}
.error__text {
  margin-top: 48px;
  color: #ff6060;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}
@media (max-width: 880px) {
  .error__text {
    width: 70%;
    margin-top: 72px;
  }
}
.error__link {
  margin-top: 64px;
  margin-bottom: 64px;
  color: black;
  text-decoration: underline;
}
@media (max-width: 880px) {
  .error__link {
    margin-top: 86px;
    margin-bottom: 86px;
  }
}/*# sourceMappingURL=main.css.map */